<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>水換え</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>水換え管理</h3>
  <div *ngIf="changeWaterDates && changeWaterDates.length">
    {{changeWaterDates.length}}
  </div>

  <div *ngIf="changeWaterDates && changeWaterDates.length">
    <div *ngFor="let d of changeWaterDates">
      {{d.startTime.getFullYear()}}
      {{d.endTime.getFullYear()}}
    </div>
    <calendar [eventSource]="changeWaterDates">
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onCurrectDateChanged)="onCurrentDateChanged($event)"
      (onRangeChanged)="reloadSource(startTime, endTime)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30">
    </calendar>
  </div>

  <button ion-button secondary menuToggle>Menu</button>
</ion-content>
